{% extends "components/base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-22 col-auto w-75 ">
            <h1 class="my-4"></h1>
            <h1>{% trans "Users" %}</h1>
            <p>{% trans 'Number of users: ' %} {{ users.count }}</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Full name" %}</th>
                    <th>{% trans "Created" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if users %}
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'user_update' user.id %}"
                           class="icon-link-hover badge rounded-pill bg-info text-decoration-none">
                            {% trans "Update" %}
                        </a>
                        <a href="{% url 'user_delete' user.id %}"
                           class="badge rounded-pill bg-danger text-decoration-none">
                            {% trans "Delete" %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}