{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-auto">
            <h1 class="my-4">
                {% blocktrans with object as obj %}
                Are you sure you want to delete {{ obj }}?
                {% endblocktrans %}
            </h1>

            <form class="text-center" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                <a href="{% url 'users' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}