{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
    <a class="navbar-brand" href="/">{% trans 'Task Manager' %}</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'users' %}">{% trans 'Users' %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'statuses_list' %}">{% trans 'Statuses' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'labels_list' %}">{% trans 'Labels' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks_list' %}">{% trans 'Tasks' %}</a>
            </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <h3><span class="badge bg-info me-3">{% trans 'Welcome' %}, {{ user.username }}</span></h3>
            </li>
            <li class="nav-item">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger me-3">{% trans 'Logout' %}</button>
                </form>
            </li>
        </ul>
        {% endif %}
        {% if not user.is_authenticated %}
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="btn btn-success me-2" href="{% url 'login' %}">{% trans 'Log in' %}</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary me-3" href="{% url 'signup' %}">{% trans 'Sign up' %}</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>